<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <th:block th:replace="fragments/head :: styling"></th:block>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<h1>Edit Your Post</h1>

<form th:action="@{'/posts/' + ${post.id} + '/edit'}" method="post" th:object="${post}">
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" th:field="*{title}">
    </div>
    <div class="form-group">
        <label for="body">Post Content</label><br>
        <textarea class="form-control" type="text" th:field="*{body}"></textarea>
    </div>
    <button type="submit">Edit Post</button>
</form>

<div th:replace="fragments/footer :: footer"></div>

<th:block th:replace="fragments/script :: scripts"></th:block>

</body>
</html>