<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <nav th:fragment="navbar" class="navbar fixed-top navbar-expand-lg navbar-light bg-light custom-navbar">
        <a class="navbar-brand" href="/home">Spring in November</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/posts">View All Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/create">Create New Post</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <button>Logout</button>
                </form>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <form th:action="@{/login}">
                    <button>Log In</button>
                </form>
            </li>
        </ul>
    </nav>
</html>