<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <nav th:fragment="navbar" class="navbar fixed-top navbar-expand-lg navbar-light bg-light custom-navbar">
        <a class="navbar-brand" href="/home">Springthyme in November</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/posts">View All Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/create">Create New Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/roll-dice">Dice Game</a>
                </li>
            </ul>
        </div>
    </nav>



<!--    <ul>-->
<!--        <li><a href="/home">Home</a></li>-->
<!--        <li><a href="/posts">View All Posts</a></li>-->
<!--        <li><a href="/posts/create">Create New Post</a></li>-->
<!--        <li><a href="/roll-dice">Dice Game</a></li>-->
<!--    </ul>-->



</nav>



</html>