<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:replace="fragments/head :: styling"></th:block>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<h1 class="non-jumbo">Log in to Your Account</h1>

<div th:if="${param.error}">
    Invalid Username and/or Password.
</div>

<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="post">
    <div class="form-group w-25">
        <label for="username">Username</label>
        <input class="form-control" id="username" name="username">
    </div>

    <div class="form-group w-25">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password">
    </div>
    <button class="rounded-corners">Log In</button>
</form>

<div th:replace="fragments/footer :: footer"></div>

<th:block th:replace="fragments/script :: scripts"></th:block>

</body>
</html>