body {
    padding: 1em;
    background: lightblue;
}

.custom-navbar {
    background-color: deepskyblue;
}

/*Add top margin to the first element underneath the navbar (jumbotron), since it has Z-index*/
/*.custom-navbar + * {*/
/*    margin-top: 3.5em;*/
/*}*/

.jumbotron {
    margin-top: 3.5em;
}

.non-jumbo {
    margin-top: 1.5em;
}

.button-bar {
    display: flex;
}

.button-bar form {
    display: inline;
    margin: 0 .5em;
}