body {
    padding: 1em;
    background: lightblue;
}

.custom-navbar {
    background-color: deepskyblue;
}

.custom-navbar ul {
    list-style: none;
    display: flex;
}

/*Add top margin to the first element underneath the navbar, since it has Z-index*/
.custom-navbar + * {
    margin-top: 4em;
}

.custom li {
    margin: 0 .5em;
}

.button-bar {
    display: flex;
}

.button-bar form {
    display: inline;
    margin: 0 .5em;
}