body {
    padding: 1em;
    background: lightblue;
}

.jumbotron, .jumbo {
    margin-top: 3.5em;
}

.non-jumbo {
    margin-top: 1.5em;
}

.button-bar {
    display: flex;
}

.button-bar form {
    display: inline;
    margin: 0 .5em;
}

.rounded-corners {
    border-radius: 5px;
}