<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>John's SpringBlog - Home</title>
    <th:block th:replace="fragments/head :: styling"></th:block>
</head>
<body>

    <div th:replace="fragments/navbar :: navbar"></div>

    <header class="jumbotron">
        <h1 class="display-4 text-center">Spring in November</h1>
        <p class="text-center">A community blogging site</p>
    </header>

    <div th:replace="fragments/footer :: footer"></div>

    <th:block th:replace="fragments/script :: scripts"></th:block>

</body>
</html>