<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dice Roll Game</title>
</head>
<body>

    <h1>What do you think the outcome of the next roll will be?</h1>

    <ul>
        <li><a href="/roll-dice/1">1</a></li>
        <li><a href="/roll-dice/2">2</a></li>
        <li><a href="/roll-dice/3">3</a></li>
        <li><a href="/roll-dice/4">4</a></li>
        <li><a href="/roll-dice/5">5</a></li>
        <li><a href="/roll-dice/6">6</a></li>
    </ul>

    <hr />

    <ul th:if="${guess!=null}">
        <li th:text="${guessMsg}"></li>
        <li th:text="${rollMsg}"></li>
        <li th:text="${guess == roll} ? 'You guessed correctly!' : 'Your guess was incorrect.'"></li>
    </ul>

</body>
</html>